@model PRELIM_E3_Assignment_NolloraXzander_BSIT32E1.Views.Home.ScheduleModel

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Page Title</title>
    <link rel="stylesheet" type="text/css" href="~/css/site.css">
</head>
<body>
    <div class="container-image">
        <div class="panel">
            <img src="~/Images/Lyceum.jpg" alt="Lyceum Of Alabang Logo" class="logo1">
            <div class="content-left">
                <div class="title1">LYCEUM</div>
                <div class="description1">OF ALABANG INC.</div>
            </div>
            <div class="content-right">
                <div class="title">CLASS SCHEDULE</div>
                <div class="description2 slanted-text">2<sup>nd</sup>SEMESTER</div>
                <div class="description2 slanted-text">ACADEMIC YEAR: 2023-2024</div>

            </div>
            <img src="~/Images/CCS.jpg" alt="CCS LOGO" class="logo2">
        </div>
        <div class="hr-line"></div>
        <div class="info-box">
            <div>
                <p> COLLEGE OF COMPUTER STUDIES &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</p>
            </div>
        </div>
        <div class="info-box2">
            <div>
                <p>BSIT 32E2</p>
            </div>
        </div>
        <div class="info-box3">
    <div>
        <p> IT ELECTIVE 3 (FULL STACK)</p>
        <h1>Professor Alamo, Nino Francsico</h1>
        <h2>ASYNCHRONOUS</h2>
        <h3>THURSDAY 03:00-05:00pm</h3>
        <h2>FACE-TO-FACE</h2>
        <h3>SATURDAY 10:00-1:00pm</h3>
    </div>
</div
    </div>
</body>
</html>

